/* HOME GENERAL STYLES: */

.section-title {
  font-family: "Suez One", serif;
  font-weight: 500;
  font-size: 5.3rem;
  position: relative;
  margin: 8rem 0 6rem;
}

.section-title .section-title-span-color {
  display: block;
  position: absolute;
  left: -1.1rem;
  top: -0.3rem;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  z-index: -1;
}

@media (min-width: 760px) {
  .section-title {
    font-size: 6.4rem;
  }

  .section-title .section-title-span-color {
    width: 9rem;
    height: 9rem;
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 7.2rem;
    margin: 23rem 0 5rem;
  }

  .section-title .section-title-span-color {
    width: 10rem;
    height: 10rem;
  }
}

/* HOME WELCOME SECTION STYLES: */

.homeWelcome {
  margin-top: 10rem;
}

.homeWelcome__title {
  font-size: 5rem;
  margin-bottom: 1rem;
  /*font-family: "Fredoka One", cursive;*/
  font-family: "Suez One", serif;
  font-weight: 500;
  opacity: 0;
  transform: translateY(30px);
}

.homeWelcome__subtitle {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 4.2rem;
  opacity: 0;
  transform: translateY(30px);
}

.homeWelcome__paragraphContainer {
  opacity: 0;
  transform: translateY(30px);
}

.homeWelcome__paragraph {
  font-size: 2.2rem;
  margin-bottom: 4.2rem;
}

.react-logo {
  width: 100px;
  object-fit: contain;
  position: absolute;
  bottom: 28px;
  display: none;
  -webkit-animation: rotatingReactLogo 6s linear infinite;
  -moz-animation: rotatingReactLogo 6s linear infinite;
  -ms-animation: rotatingReactLogo 6s linear infinite;
  -o-animation: rotatingReactLogo 6s linear infinite;
  animation: rotatingReactLogo 6s linear infinite;
}

@-webkit-keyframes rotatingReactLogo /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotatingReactLogo {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.homeWelcome__paragraph b {
  text-decoration: underline;
  position: relative;
}

.profile-image {
  width: 22rem;
  height: 22rem;
  object-fit: contain;
  border-radius: 50%;
  opacity: 0;
}

@media (min-width: 760px) {
  .homeWelcome__title {
    font-size: 7.2rem;
  }

  .homeWelcome__subtitle {
    font-size: 2.4rem;
  }

  .homeWelcome__paragraph {
    font-size: 2.4rem;
  }

  .profile-image {
    width: 28rem;
    height: 28rem;
  }

  .homeWelcome__right {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .homeWelcome__title {
    font-size: 10.4rem;
    font-weight: 300;
  }

  .homeWelcome__subtitle {
    font-size: 2.6rem;
  }

  .homeWelcome__paragraph {
    font-size: 2.6rem;
  }

  .homeWelcome__paragraph b:hover img {
    display: inline-block;
  }

  .profile-image {
    width: 28rem;
    height: 28rem;
    margin-top: 2rem;
  }

  .homeWelcome {
    display: flex;
    margin-top: 7rem;
  }

  .homeWelcome__right {
    padding: 1.5rem;
  }
}

/* HOME RESUME SECTION STYLES: */

.homeResume {
  margin-top: 10rem;
}

.homeResume__sectionTitle .section-title-span-color {
  background-color: var(--blue);
}

.homeResume__title {
  font-family: "Suez One", serif;
  font-weight: 500;
  font-size: 3.8rem;
  margin: 3rem 0 0.6rem;
}

.homeResume__langList li,
.homeResume__devToolsList li,
.homeResume__text {
  font-size: 1.8rem;
}

.homeResume__subtitle {
  font-size: 2.2rem;
  margin-top: 1.5rem;
}

.homeResume__dates {
  font-style: italic;
  font-size: 1.6rem;
}

.link-icon {
  margin-left: 1rem;
  padding: 0.2rem;
}

.homeResume__downloadCvBtn {
  display: block;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  background-image: linear-gradient(
    to right,
    var(--backgrondColor) 50%,
    var(--textColor) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  color: var(--textColor);
  border: 3px solid var(--textColor);
  border-radius: 1rem;
  text-align: center;
  margin-top: 4.8rem;
  transition: all 0.5s ease-in;
}
.homeResume__downloadCvBtn:hover {
  background-position: right bottom;
  color: var(--backgrondColor);
}

@media (min-width: 760px) {
  .homeResume__title {
    font-size: 4.8rem;
  }

  .homeResume__langList li,
  .homeResume__devToolsList li,
  .homeResume__text {
    font-size: 2rem;
  }

  .homeResume__subtitle {
    font-size: 2.4rem;
  }

  .homeResume__dates {
    font-size: 1.8rem;
  }

  .homeResume__downloadCvBtn {
    width: 41rem;
  }
}

@media (min-width: 1200px) {
  .homeResume__container1,
  .homeResume__container2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .homeResume__container1--left,
  .homeResume__container1--right,
  .homeResume__container2--left,
  .homeResume__container2--right {
    width: 38%;
  }

  .homeResume__subtitle {
    margin-top: 2.5rem;
  }

  .homeResume__downloadCvBtn {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}

/* HOME PROJECTS SECTION STYLES: */

.homeProjects__sectionTitle .section-title-span-color {
  background-color: var(--green);
}

/* HOME ABOUT SECTION STYLES: */
.homeAbout {
}

.homeAbout__sectionTitle .section-title-span-color {
  background-color: var(--red);
}

.homeAbout__textTitle {
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0 0.8rem;
}

.homeAbout__textParagraph {
  font-size: 2rem;
  margin-bottom: 4.2rem;
}

.giphy-embed {
  width: 20rem;
  height: auto;
  margin-top: -3rem;
}

.homeAbout__imageContainer {
  display: none;
}

@media (min-width: 760px) {
  .homeAbout__textTitle {
    font-size: 3.2rem;
    margin: 1rem 0 2rem;
  }
}

@media (min-width: 1200px) {
  .homeAbout__contentContainer {
    display: flex;
    justify-content: space-between;
  }

  .homeAbout__imageContainer {
    display: block;
    width: 30%;
  }

  .homeAbout__imageContainer img {
    width: 20rem;
    height: auto;
    object-fit: contain;
  }

  .homeAbout__textContainer {
    width: 60%;
  }
}

/* HOME JSCODE SECTION STYLES: */

.homeJscode__sectionTitle .section-title-span-color {
  background-color: var(--yellow);
}

/* HOME CONTACT SECTION STYLES: */

.homeContact__sectionTitle .section-title-span-color {
  background: linear-gradient(259deg, #08ec1c, #ff4242, #ffca33, #2f99ff);
  background-size: 800% 800%;

  -webkit-animation: AnimationSectionTitleSpan 16s ease infinite;
  -moz-animation: AnimationSectionTitleSpan 16s ease infinite;
  animation: AnimationSectionTitleSpan 16s ease infinite;
}

@-webkit-keyframes AnimationSectionTitleSpan {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
@-moz-keyframes AnimationSectionTitleSpan {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
@keyframes AnimationSectionTitleSpan {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}

.homeContact__title p {
  font-family: "Suez One", serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.homeContact__form {
  margin-top: 2rem;
}

.homeContact__form input {
  margin-bottom: 3.2rem;
  padding: 3.2rem 1.2rem 3.2rem 1.6rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  border: 0.4rem solid var(--textColor);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-radius: 1rem;
}
.homeContact__form input::placeholder {
  color: var(--textColor);
}

.homeContact__form textarea {
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  border: 0.4rem solid var(--textColor);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 1.2rem 12.5rem 1.6rem;
}
.homeContact__form textarea::placeholder {
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: var(--textColor);
}

.homeContact__form .homeContact__form--submitButton input {
  display: block;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  background-image: linear-gradient(
    to right,
    var(--backgrondColor) 50%,
    var(--textColor) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  color: var(--textColor);
  border: 3px solid var(--textColor);
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto 0;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.homeContact__form .homeContact__form--submitButton input:hover {
  background-position: right bottom;
  color: var(--backgrondColor);
}

.homeContact__successMessageContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  border: 0.2rem solid;
  border-radius: 2rem;
  padding: 1.5rem;
}

.homeContact__successMessageContainer span {
  position: absolute;
  top: 0;
  right: 0.5rem;
  display: block;
  padding: 5px;
  border-radius: 50%;
}

.homeContact__successMessageContainer h4 {
  font-weight: 300;
  font-size: 1.6rem;
}

.homeContact__successMessageGiphyContainer {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
}

.homeContact__successMessageContainer iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.homeContact__contentLeft {
  display: none;
}
.homeContact__contentRight {
}

@media (min-width: 760px) {
  .homeContact__title p {
    font-size: 25px;
  }

  .homeContact__form input {
    padding: 2.4rem 1.2rem 2.4rem 1.6rem;
  }

  .homeContact__successMessageContainer {
    width: 100%;
  }

  .homeContact__successMessageContainer span {
    right: 0.7rem;
    font-size: 1.6rem;
  }

  .homeContact__successMessageContainer h4 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .homeContact__title p {
    font-size: 32px;
  }

  .homeContact__form input {
    padding: 3.2rem 1.2rem 3.2rem 1.6rem;
  }

  .homeContact__content {
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
  }
  .homeContact__contentLeft {
    display: block;
    width: 30%;
    margin: 0 auto;
  }

  .homeContact__imageContainer {
    margin: 4.8rem auto 0;
    text-align: center;
  }
  .homeContact__imageContainer img {
    width: 30rem;
    object-fit: contain;
  }

  .homeContact__contentRight {
    width: 60%;
    padding: 2rem;
  }
}
