@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgrondColor: #000;
  --textColor: #fff;
  --green: #08ec1c;
  --yellow: #ffca33;
  --blue: #1e90ff;
  --red: #ff4242;
}

body {
  padding: 2rem 2.8rem;
  background-color: var(--backgrondColor);
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  transition-property: color, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

a,
button {
  cursor: pointer;
}

a,
a:focus,
a,
:visited,
a:active {
  text-decoration: none;
  color: var(--textColor);
}

ul {
  list-style: none;
}

.switcher-container {
  text-align: right;
  margin-bottom: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 760px) {
}

@media (min-width: 1200px) {
  body {
    padding: 2rem 7.8rem 0rem;
  }

  .switcher-container {
    position: fixed;
    transform: rotate(90deg);
    right: 1rem;
    top: 3rem;
  }
}
